<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">API Demo</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span5">
                        <h3>Request</h3>
                        <form id="demo">
                            <input id="baseurl" type="hidden" value="{{ path("homepage") }}">
                            <div class="form-group">
                                <label for="id">Method</label>
                                <select name="_method" id="_method" class="form-control">
                                    <option value="GET" data-json="">GET</option>
                                    <option value="POST" data-json='{"title":"title","author":"author","description":"description"}'>POST</option>
                                    <option value="PATCH" data-json='{"title": "title !!!"}'>PATCH</option>
                                    <option value="PUT" data-json='{"title": "title","author":"author","description":"description"}'>PUT</option>
                                    <option value="DELETE" data-json=''>DELETE</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label for="content">Content</label>
                                <textarea id="content" name="content" class="form-control"></textarea>
                            </div>
                            <div class="form-group block-id hide">
                                <label for="id">ID</label>
                                <input id="id" name="id" class="form-control" />
                            </div>
                            <p><br /></p>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="span6 hide block-response">
                        <div>
                            <h3>Response</h3>
                            <h5>URL: <span id="response"></span></h5>
                        </div>
                        <div>
                            <h5>Status: <span id="status"></span></h5>
                        </div>
                        <div>
                            <h5>Action: <span id="action"></span></h5>
                        </div>
                        <div>
                            <h5>Preview</h5>
                            <textarea id="preview"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>