{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div> <span class="">Id:</span> {{ book.id }} </div>
    <div> <span class="">Title:</span> {{ book.title }} </div>
    <div> <span class="">Author:</span> {{ book.author }} </div>
    <div> <span class="">Description:</span> {{ book.description }} </div>
{% endblock %}